/.vscode
/ceviche.jpg
/chile_rellonos.jpg
/climate_change but the wrong one.html
/climate_change.css
/coding_class.html
/country.html
/dream_house.css
/dream_house.html
/favorites.html
/food.css
/food.html
/group1.html
/group_one.html
/ian.html
/IanB.html
/mole_de_olla.htm
/mole_de_olla.jpg
/mythos.css
/mythos.html
/natural_disaster.html
/nat_disast.css
/piano.html
/pickle_me_elmo.css
/random.css
/random.html
/style.css
/Tenochtitla.css